section {
    text-align: center;
}
section article {
    display: inline-block;
    width: 45%;
    font-size: 3rem;
}
section article a {
    color: #75E4FF !important;
    padding:0 0.5rem
}
section article a i {
    padding-left: 1rem;
} 
.rosterNav a.gameActive {
    background-color: white;
    color: #030303 !important;
    font-size: 1.5rem;
    display: inline-block !important;
    padding: 0.8rem 3.0rem !important;
    margin: 2.0rem 0.8rem !important;
    border: white !important;
    border-radius: 1.5rem !important;
    border-style: solid !important;
    border-width: 0.1rem !important;
    text-decoration: none !important;
    letter-spacing: 0.5rem !important;
    text-transform: uppercase !important;
}

.rosterNav a.\!gameActive {
    background-color: #2D2F34;
    color: white !important;
    font-size: 1.5rem;
    display: inline-block !important;
    padding: 0.8rem 3.0rem !important;
    margin: 2.0rem 0.8rem !important;
    border: white !important;
    border-radius: 1.5rem !important;
    border-style: solid !important;
    border-width: 0.1rem !important;
    text-decoration: none !important;
    letter-spacing: 0.5rem !important;
    text-transform: uppercase !important;
}
.LOL {
    display: none;
}
.collumn {
    text-align: center;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

.collumn h2 {
    display: block;
    text-align: center;
    font-size: 3.5rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 3rem 0 0 0;
}
.collumn i {
    padding-left: 0.5rem;
} 
.collumn h2 img {
    width: 3.5rem;
    height: 3.5rem;
    padding-bottom: 0.9rem;
    vertical-align: bottom;
}
.collumn ul {
    font-size: 2.2rem;
    list-style: none;
    margin: 0 0 3rem 0;
    padding: 0 0 1rem 0;
}
.collumn ul li{
    padding: 1rem 0;
}
.collumn ul li.cap {
    font-weight: 600;
}
.sub a{
    font-weight: 300;
    font-style: italic;
    color: #a8a8a8 !important;
}
.open {
    font-weight: 300;
    font-style: italic;
    color: #707070 !important;
}


#esports {
    margin: 0;
    display: block !important;
    width: 100%;
}

#topTeam {
    margin-top: -5rem;
}

@media screen and (max-width: 800px) {
    .collumn {
        width: 100%;
    }
    #topTeam {
        margin-top: 0;
    }
  
  }